<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylessheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylessheet"/>
    <link href="../css/bootstrap.min.css" rel="stylessheet"/>
    <link href="style.css" rel="stylesheet"/>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../Vue/vue.min.js"></script>
</head>
<body style="background-color: #09688b;">
  <!--
  <div class="header">
  <h1>TITOLO DEL SITO (FACOLTATIVO)</h1>
  <p>Resize the browser window to see the effect.</p>
  </div>
  -->
  <div class="navbar">
    <div class="navbar-right">
      <div class="dropdown">
        <a href="../Homepage/homepage.html">Home</a>
      </div>
      <a href="#">About</a>
      <a href="../paginaLogin/login.php"><span class="glyphicon glyphicon-user"></span></i>  Sign in</a>
    </div>
  </div>

  <div id="component-regione" class="row">
    <transition name="fade">
      <section key="1" v-if="errored">
        <p>C'è un problema nel ricevere i dati in qeusto momento, ci scusiamo per il disagio</p>
        <img v-bind:src="image"></img>
      </section>
      <div key="2" v-else-if="loading"  class="lds-ripple">
        <div></div><div></div>
      </div>
      <div key="3" v-else class="leftcolumn">
        <div id="dataoutput" class="card">
          <h2>{{ nomeRegione }}</h2>
          <h5>Ultimo aggiornamento : {{ data }}</h5>
          <img v-bind:src="image"></img>
          <div class="container">
            <div class="row">
              <table>
                <thead>
                  <tr class="pricing-top-heading">
                    <th class="free">TOTALE CASI</th>
                    <th class="basic">NUOVI POSITIVI</th>
                    <th class="pro">DECEDUTI</th>
                  </tr>
                  <tr class="pricing-bottom-heading small">
                    <th class="free"><strong>{{totaleCasi}}</strong>
                      </th>
                    <th class="basic"><strong>{{nuoviPositivi}} <div id='variazione' v-bind:style="{color: computeColor}">({{variazioneTotalePositivi}})</div></th>
                    <th class="pro"><strong>{{totaleDeceduti}}</strong>
                      </th>
                  </tr>
                </thead>
                <!-- TABELLA DATI -->
                <tbody>
                  <tr>
                    <td class="collapsible-section-header" colspan="3">
                      <a data-toggle="collapse" >Monitoraggio Sanitario</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="no-padding" colspan="3">
                      <div id="collapse_section_one" class="collapse in">
                        <table style="width:100%">
                          <tr>
                            <td>Isolamento domiciliare</td>
                            <td>{{ isolamentoDomiciliare }}</td>
                          </tr>
                          <tr>
                            <td>Totale ospedalizzati</td>
                            <td>{{ totaleOspedalizzati }}</td>
                          </tr>
                          <tr>
                            <td>Ricoverati con sintomi</td>
                            <td>{{ ricoveratiConSintomi }}</td>
                          </tr>
                          <tr>
                            <td>Terapia intensiva</td>
                            <td>{{ terapiaIntensiva }}</td>
                          </tr>
                          <tr>
                            <td>Dimessi guariti</td>
                            <td>{{ dimessiGuariti }}</td>
                          </tr>
                          <tr>
                            <td>Tamponi</td>
                            <td>{{ totaleTamponi }}</td>
                          </tr>
                          <tr>
                            <td>Note</td>
                            <td>{{ noteIT }}</td>
                          </tr>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </transition>
    <div class="rightcolumn">
      <div class="card">
        <h2>LISTA REGIONI</h2>
        <div class="select-box">
          <div v-for="(x,index) in regioni" class="select-box__current" >
            <label class="select-box__option" for="index" v-on:click="showRegione(index)">
              {{x.denominazione_regione}}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
      <h2>Footer</h2>
  </div>
  </section>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="regioniScriptVue.js"></script>
</body>
</html>