* {
    box-sizing: border-box;  
  }
  
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  }
  
  

/* Header */

#header {
  font: inherit;
  vertical-align: baseline;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  color: #fff;
  cursor: default;
  padding: 30px;
  margin: 2px;
  height: 3.25em;
  left: 0;
  line-height: 3.25em;
  text-align: right;
  top: 2em;
  width: 100%;
  z-index: 10001;
}

  #header .inner {
    margin: 0 auto;
    position: relative;
  }

  #header .logo {
    color: #ffffff;
    display: inline-block;
    font-weight: 400;
    height: inherit;
    left: 0;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    font-size: 1em;
  }

    #header .logo strong {
      color: #ffffff;
      font-weight: 600;
    }

  #header a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    display: inline-block;
    padding: 0 0.75em;
    color: inherit;
    text-decoration: none;
    font-size: 1em;
  }

    #header a:hover {
      color: rgb(235,184,29);
    }

    #header a:last-child {
      padding-right: 0;
    }

    #header a.navPanelToggle {
      display: none;
      text-decoration: none;
      height: 4em;
      width: 4em;
      z-index: 10003;
    }

      #header a.navPanelToggle .fa {
        font-size: 1.25em;
      }

      @media screen and (max-width: 980px) {

        #header a.navPanelToggle {
          display: inline-block;
        }

      }

    @media screen and (max-width: 736px) {

      #header a {
        padding: 0 0.5em;
      }

    }

@media screen and (max-width: 980px) {

  #header {
    top: 1em;
  }

}

@media screen and (max-width: 736px) {

  #header {
    top: .5em;
  }

}

@media screen and (max-width: 480px) {

  #header {
    font-size: .9em;
  }

}
  
#component-regione{
  padding: 5px;
  margin: 30px;
  border-top: 1px solid rgb(255,255,255);
  border-top-width: 1px;
  border-top-style: solid;
}
 
  
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 25%;
  background-color: #09688b;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: #09688b;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

/* Stile per tabella Dati */

/* Colours */
/* fonts */
body {
  font-family: "Assistant", sans-serif;
}

h1, h2, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
}

h3 {
  font-family: "Assistant", sans-serif;
  font-weight: 300;
  text-transform: none;
}

p {
  font-weight: 400;
}

strong {
  font-weight: 700;
}

/* Utilities */
.no-padding {
  padding: 0 !important;
}

/* width */
.container {
  width: 100%;
}

/* Table Heading */
.pricing-top-heading th {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  width: 33%;
}

.pricing-bottom-heading th {
  padding: 0 2%;
  font-weight: 300;
}

.pricing-top-heading .free {
  background-color: #66ffff;
  border: 1px solid #66ffff;
}

.pricing-bottom-heading .free {
  background-color: #f28d6e;
  border: 1px solid #f28d6e;
}

.pricing-top-heading .basic {
  background-color: #66ffff;
  border: 1px solid #66ffff;
}

.pricing-bottom-heading .basic {
  background-color: #7fd1d2;
  border: 1px solid #7fd1d2;
}

.pricing-top-heading .pro {
  background-color: #66ffff;
  border: 1px solid #66ffff;
}

.pricing-bottom-heading .pro {
  background-color: #b9d17b;
  border: 1px solid #b9d17b;
}

.pricing-top-heading,
.pricing-bottom-heading {
  color: white;
  height: 90px;
}

table thead th {
  border: 0;
}

/* table */
table {
  width: 100%;
}

.collapsible-section-header {
  background-color: #e1e1e1;
}

.collapsible-section-header a {
  color: #363636;
  font-weight: 700;
  text-decoration: none;
}

.collapsible-section-header a:after {
  content: '\25bc';
  padding-left: 0.5em;
}

.collapsible-section-header a.collapsed:after {
  content: '\25ba';
  padding-left: 0.5em;
}

tbody td {
  background-color: #ededed;
  border: 1px solid #d1d1d1;
  padding: 1.25rem;
}

/* Stile per lista regioni */

.selected {border: 1px solid red;}

.select-box__option {
  display: block;
  border-radius: 6px;
  padding: 13px;
  margin: 10px;
  background-color: #ffffff;
}
.select-box__option:hover, .select-box__option:focus {
  color: rgb(127,51,0);
  background-color: rgb(235,184,29);
  box-shadow: 15px 0 9px 0 #004c68;
}

.select-box__option:active{
  background-color: rgb(138, 106, 11);
}

.select-box__input {
  display: block; /* IMPORTANTE PER NASCONDERE GLI INPUT RADIO*/ 
}

.select-box__input:checked + .select-box__input-text {
  display: block;
  opacity: 1;
}

.select-box__input-text {
  display: none;
  opacity: 1;
}

.select-box__current:focus + .select-box__list {
  opacity: 1;
  float: left;
  width: 100%;
  overflow: auto;
  height: 400%;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}

/* Animazione caricamento */ 

.lds-ripple {
  display: inline-block;
  position: absolute;
  top: 80%;
  bottom: 50%;
  right: 50%;
  left: 30%;
  width: 80px;
  height: 80px;
  transform: scale(2) perspective(1px)
}

.lds-ripple div {
  position:absolute;
  border: 4px solid rgb(127,51,0);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/* effetto transizione*/
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}